*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-top{
    width: 100%;
    height: 50px;
    padding: 15px 7rem;
    display: flex;
}

#header-top .left a{
    text-decoration: none;

}

.left{
    width: 50%;

}

.left .key{
    padding-right: 40px;
    font-size: 1.50rem;
}

.left .key2{
    color: grey;
    padding-left: 15px;
}

.left .key{
    color: black;
}

.left .key3{
    color: black;
}

.right a:hover{
    background-color: #000;
    color: #fff;
}

.right{
    width: 50%;
    text-align: right;
    padding-right: 7rem;
    padding-bottom: 80px;
    flex: 1;
    
    
}

.Care2 .bottom a:hover{
    background-color: #000;
    color: #fff;


}

.right a{
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 2px;
    padding: 5px;
    
}

.Care{
    width: 100%;
    height: 300px;
    background-color: #212529;;
    color: #fff;
    text-align: center;
    padding: 7rem;
}

.Care h1{
    font-size: 4rem;
}


.Care  p{
    font-size: 1rem;
    color: #879294;
}

.Care2 .top{
    font-size: 40px;
}

.Care2{
    width: 100%;
    height: 30rem;
    margin-top: 4rem;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    
}

.box .bottom .p2{
    
    font-size: 25px;
    margin-bottom: 80px;
    
}

.p1{
    margin-bottom: 48px;
}




.box{
    width: 22%;
    height: 350px;
    border: 1px solid#DEE1E6;;
    border-radius: 5px;
     margin-left: 2.5rem;
     margin-top: 30px;
    
     
    
}

.box .top{
    background-color: #DEE1E6;
    width: 100%;
    height: 150px;
    
}

.box .bottom{
    width: 100%;
    height: 200px;
    text-align: center;
    

    
}

.box .bottom h5{
padding-top: 1rem;
font-size: 25px;
text-align: center;
}

.bottom a{
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px 15px;
    text-decoration: none;
    transition: .7;
    color: #000;
    
}

i{
    padding-bottom: 10px;
}

.top p{
    padding-top: 85px;
}

.bottom a :hover{
    background-color: #000;
    color: #fff;

}

.last{
    width: 100%;
    height: 8rem;
    margin-top: 24rem;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.last p{
    padding-top: 45px;
    font-size: 20px;
}



